* { box-sizing: border-box; }

body { margin: 0 auto; font-family: "Pacifico", cursive; }

.board { margin: 20px auto; padding: 10px; max-width: 1200px; display: block; text-align: center; }

.main-title, .column-title { margin-top: 10px; margin-bottom: 10px; }

.main-title { font-size: 48px; letter-spacing: 2px; }

.column { padding: 20px; margin: 15px; border-radius: 20px; background-color: #ffeaa7; }

.column-title { font-size: 32px; letter-spacing: 1px; }

.column-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.column-card-list { padding-left: 0; min-height: 100px; list-style-type: none; }

.btn-delete, .add-card, .create-column { margin: 6px 8px; padding: 8px 17px; background-color: #fff; color: #fdcb6e; font-size: 24px; text-align: center; border: 2px solid #fdcb6e; border-radius: 12px; cursor: pointer; transition: .2s ease; }

.btn-delete:hover, .add-card:hover, .create-column:hover { background-color: #fdcb6e; color: #ffff; }

.add-card, .create-column { margin: 6px 2px; padding: 6px 10px; font-family: "Pacifico", cursive; font-size: 18px; letter-spacing: 1px; }

.card-description { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding: 5px; padding-left: 10px; background-color: #ffff; font-size: 18px; border-radius: 12px; letter-spacing: 1px; cursor: pointer; border: 2px solid #ffff; transition: .2s ease; }

.card-description:hover { border: 2px solid #fdcb6e; }

@media (max-width: 767px) { .board { max-width: 400px; }
  .column-container { -ms-flex-direction: column; flex-direction: column; } }
